
.main {
    display: flex;
    margin-top: 50px;
    min-height: 1000px;
    width: 100%;
    background-color: var(--main-background-color-dark);
}

.main * {
    color: var(--main-font-color-dark);
}