@use "src/sass/base";

.title {
  color: white;
}

.main-pick {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  .sidebar-pick {
    background-color: base.$bkg-bar-dark;
    color: base.$font-dark;
    width: 15%;
    min-height: 1000px;
  }
  .blank {
    width: 5%;
  }
  .pick {
    color: base.$font-dark;
    width: 75%;
    .pick-title {
      display: flex;
      max-width: 1200px;
      min-width: 800px;
      .pick-img {
        width: 70%;
        height: auto;
        img {
          width: 100%;
        }
      }
      .pickup-info {
        margin-left: 5%;
        display: flex;
        flex-direction:column;
        width: 25%;
        height: 100%;
        .pickup-description {
          font-weight: 700;
          margin: 0;
        }
        .pickup-box {
          height: 20%;
          width: 100%;
          display: flex;
          flex-direction:column;
          margin-top: 5%;
          p {
            display: inline-block;
            margin: 1% 0 1% 0;
          }
          .pickup-showcard {
            display: flex;
            div {
              display: flex;
              margin: 0;
              height: 10%;
              p {
                min-width: 100px;
                margin: auto;
                font-size: 20px;
                font-weight: 900;
              }
              img{
                width: 40px;
                height: 40px;
                margin-right: 1%;
              }
            }
          }
        }
      }
    }
    .pick-menu {
      display: flex;
      flex-direction:column;
      width: 100%;
      margin-top: 10px;
      .buttons {
        display: flex;
        .menu-button {
          display: flex;
          padding: 5px 12px;
          border: 1px solid #446d88;
          background: #58a linear-gradient(#77a0bb,#58a);
          border-radius: 3px;
          box-shadow: 0 .8px 4px gray;
          color: white;
          text-shadow: 0 -.8px .8px #335166;
          font-size: 125%;
          line-height: 1.5;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .pick-info {
        display: flex;
        margin: 0;
        p {
          margin: 10px 0 0 20px;
        }
      }

    }
    .case {
      display: inline-block;
      margin: 10px;
      p {
        font-size: 100%;
        font-weight: 900;
        margin: 0 0 5px 0;
      }
      .card {
        width: 90px;
        height: 165px;
      }
    }
    .record-container {
      display: flex;
      flex-direction: column;
      margin: 50px 0 100px 0;
      max-width: 100%;
      .record {
        display: flex;
        max-width: 100%;
        margin: 5px 0 0 0;
        div {
          font-size: 200%;
        }
        .pick-img-container {
          display: inline-block;
          img {
            border-radius: 3px;
            width: 48px;
            height: 48px;
            margin: 0 5px 0 5px;
          }
        }
      }
    }
    .wait-calc {
      position: fixed;
      display: flex;
      flex-direction: column;
      left: 0;
      top: 0;
      z-index: 990;
      .bkg-blur {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:rgb(0,0,0,0.9);
        z-index: 997;
      }
      .calc-icon-container {
        position: absolute;
        top: 30%;
        left: 45%;
        z-index: 998;
        filter: blur(.5px);
      }
      .calc-description {
        position: fixed;
        top: 60%;
        left: 45%;
        font-size: 36px;
        font-weight: 900;
        z-index: 999;
      }
    }
  }
}

.\0036 {
  color: red;
}
.\0035 {
  color: orange;
}
.\0034 {
  color: mediumpurple;
}
.\0033 {
  color: royalblue;
}

.img {
  background-color: white;
  border: transparent 2px solid;
}

.target {
  border: greenyellow 2px solid;
}
