@use "src/sass/base";
.title {
  color: white;
}

.main-pick {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  .sidebar-pick {
    background-color: base.$bkg-bar-dark;
    color: base.$font-dark;
    width: 15%;
    min-height: 600px;
  }
  .blank {
    width: 5%;
  }
  .pick {
    color: base.$font-dark;
    width: 75%;
    height: 100%;
    .pick-title {
      display: flex;
      max-height: 500px;
      .pick-img {
        width: 65%;
        height: 100%;
        img {
          width: 100%;
        }
      }
      .pickup-info {
        margin-left: 5%;
        display: flex;
        flex-direction:column;
        width: 30%;
        height: 100%;
        .pickup-description {
          font-weight: 700;
          margin: 2.5%;
        }
        .pickup-box {
          height: 20%;
          display: flex;
          flex-direction:column;
          margin-top: 5%;
          p {
            display: inline-block;
            margin: 1% 0 1% 0;
          }
          div {
            display: inline-block;
            margin: 0;
            height: 50px;
            p {
              margin: 0;
            }
            img{
              width: 50px;
              height: 50px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .pick-menu {
      display: flex;
      flex-direction:column;
      width: 100%;
      margin-top: 10px;
      .buttons {
        display: flex;
        .menu-button {
          display: flex;
          padding: 5px 12px;
          border: 1px solid #446d88;
          background: #58a linear-gradient(#77a0bb,#58a);
          border-radius: 3px;
          box-shadow: 0 .8px 4px gray;
          color: white;
          text-shadow: 0 -.8px .8px #335166;
          font-size: 125%;
          line-height: 1.5;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .pick-info {
        display: flex;
        p {
          margin-right: 20px;
        }
      }

    }
  }
}

.\0036 {
  color: red;
}
.\0035 {
  color: orange;
}
.\0034 {
  color: mediumpurple;
}
.\0033 {
  color: royalblue;
}

.img6 {
  background-color: white;
}
.img5 {
  background-color: white;
}
.img4 {
  background-color: white;
}

/*
.main {
  display: flex;
  .main-pick {
    display: flex;
    width: 100%;
    min-height: 90%;
    margin-top: 20px;
    .sidebar-pick {
      background-color: base.$bkg-bar-dark;
      color: base.$font-dark;
      width: 20%;
      height: 90%;
    }
    .blank {
      width: 5%;
      height:90%;
    }
    .pick-container {
      width: 70%;
      height: 90%;
      margin-right: 0;
      background-color: base.$bkg-main-dark;
    }
  }
  .pickContainer {
    button {
      display: flex;
      padding: 5px 12px;
      border: 1px solid #446d88;
      background: #58a linear-gradient(#77a0bb,#58a);
      border-radius: 3px;
      box-shadow: 0 .8px 4px gray;
      color: white;
      text-shadow: 0 -.8px .8px #335166;
      font-size: 125%;
      line-height: 1.5;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.poolImgContainer {
  img {
    width: 50%;
    height: 50%;
  }
}

.showStone {
  display: inline-block;
  padding: 5px 12px;
  background: transparent;
  color: white;
  text-shadow: 0 -.8px .8px #335166;
  font-size: 125%;
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px;
  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 1.5;
  }
  p {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;

  }

}

.case {
  display: inline-block;
  margin: 10px;
  p {
    font-size: 25px;
    font-weight: 900;
  }
  .card {
    width: 120px;
    height: 220px;
  }
}

.calcResult {
  font-size: 15px;
  font-weight: 900;
  color: azure;
}
*/