:root {
    /*light colors*/
    --bar-background-color-light: #606087;
    --main-background-color-light: 	#FFFFF0;
    --bar-font-color-light: #FFFBCD;
    --main-font-color-light: #9370DB;
    --bar-hover-color-light: #E6E6FA;

    /*dark colors*/
    --bar-background-color-dark: #1f1f1f;
    --main-background-color-dark: #2f2f2f;
    --bar-font-color-dark: #ffffff;
    --main-font-color-dark: #ffffff;
    --bar-hover-color-dark: #696969;

    /*theme colors*/
    --special-color: #f08080;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    cursor: pointer;
}
input {
    outline: none;
    background:none;
    border:none;
}
button {
    outline: none;
    cursor: pointer;
}
li {
    list-style:none;
}

.main-container {
    display: flex;
    flex-direction:column;
    width: 70%;
    height: 100%;
    margin: auto;
}

.main-top {
    display: flex;
    width: 100%;
    height: 300px;
}

.title {
    display: flex;
    flex-direction:column;
    margin: auto;
    height: 100%;
}

.title-name {
    font-size: 50px;
    font-weight: 700;
    color: #f08080;
    margin: 40px 0 20px 0;
}

.title-description {
    font-size: 20px;
    font-weight: 500;
}

.main-contents {
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height: 800px;
}


.main-contents div p {
    border-bottom: currentColor 2px solid;
    font-weight: 500;
}

.news-containers {
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
}

.new-contents-v {
    display: flex;
    flex-direction:column;
    width: 80%;
}

.new-contents-v img {
    width: 100%;
    margin: 20px 10% 20px 10%;
}

.new-contents-h {
    display: flex;
}

.new-contents-h img {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 20px;
}