@use "../base";

.main {
  display: flex;
  margin-top: 50px;
  min-height: 800px;
  width: 100%;
  &.dark-theme {
    background-color: base.$bkg-main-dark;
  }
  &.light-theme {
    background-color: base.$bkg-main-light;
  }
}