@use "../base";

.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  &.dark-theme {
    background-color: base.$bkg-bar-dark;
    .nav {
      * {
        color: base.$font-dark;
        background-color: base.$bkg-bar-dark;
      }
      a:hover {
        background-color: base.$bar-hover-dark;
        color: base.$primary-color;
      }
    }
    .options {
      * {
        color: base.$font-dark;
        background-color: base.$bkg-bar-dark;
      }
      a:hover {
        background-color: base.$bar-hover-dark;
        color: base.$primary-color;
      }
    }
    .search-input {
      input {
        border: 2px solid base.$font-dark;
        color: base.$font-dark;
      }
    }
    .search-submit {
      background-color: base.$bkg-bar-dark;
      color: base.$font-dark;
    }
    .search-cleaner {
      background-color: base.$bkg-bar-dark;
      color: base.$font-dark;
    }
    .search-icon {
      background-color: base.$bkg-bar-dark;
    }
  }
  &.light-theme {
    background-color: base.$bkg-bar-light;
    .nav {
      * {
        color: base.$font-bar-light;
        background-color: base.$bkg-bar-light;
      }
      a:hover {
        background-color: base.$bar-hover-light;
        color: base.$primary-color;
      }
    }
    .options {
      * {
        color: base.$font-bar-light;
        background-color: base.$bkg-bar-light;
      }
      a:hover {
        background-color: base.$bar-hover-light;
        color: base.$primary-color;
      }
    }
    .search-input {
      input {
        border: 2px solid base.$font-bar-light;
        color: base.$font-bar-light;
      }
    }
    .search-submit {
      background-color: base.$bkg-bar-light;
      color: base.$font-bar-light;
    }
    .search-cleaner {
      background-color: base.$bkg-bar-light;
      color: base.$font-bar-light;
    }
    .search-icon {
      background-color: base.$bkg-bar-light;
    }
  }
}

.top-bar {
  position: fixed;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 50px;
  width: 90%;
}

.logo {
  width: calc(100% / 6);
  display: flex;
  height: 100%;
  text-decoration: none;
  margin-right: 10px;
  img {
    display: inline-block;
    border-style: none;
    margin: 10px 5px 10px 10px;
    padding: 0;
    border-radius: 8px;
    height: 30px;
    width: 30px;
  }
  span {
    text-align:center;
    vertical-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0 10px 5px;
    overflow: no-display;
    color: base.$primary-color;
  }
}

.nav {
  display: flex;
  height: 100%;
  width: 40%;
}

.nav-container {
  cursor: pointer;
  display: flex;
  flex-direction:column;
  width: 100px;
}

.nav-contents {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.dropdown {
  display: flex;
  flex-direction:column;
  width: 100%;
  font-weight: 400;
  background-color: transparent;
  a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }
}

.search {
  display: flex;
  width: 30%;
  height: 50px;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.search-input {
  display: flex;
  width: 100%;
  input {
    display: flex;
    width: 100%;
    height: 26px;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px 0 10px;
  }
  input:focus {
    border: 2px solid base.$primary-color;
  }
  button:hover {
    color: base.$primary-color;
  }
}

.search-submit {
  position: relative;
  right: 55px;
  width: 30px;
  height: 26px;
  top: 2px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.search-cleaner {
  position: relative;
  right: 55px;
  width: 20px;
  height: 26px;
  top: 2px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px 0 10px;
}

.search-icon {
  float:right;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0;
}

.options {
  display: flex;
}

.opt-container {
  cursor: pointer;
  display: flex;
  flex-direction:column;
  width: 100px;
}

.opt-contents {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.opt-contents:hover {
  color: base.$primary-color;
}

.language-container {
  cursor: pointer;
  display: flex;
  flex-direction:column;
  width: 100px;
}

.language-contents {
  cursor: pointer;
  height: 50px;
  width: 50%;
  line-height: 50px;
  margin: 0 auto;
}

.language-icon {
  height: 100%;
  width: 25px;
  margin: 0 20% 0 20%;
}